<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body id="top" style="padding-top: 60px;">
    <% include ../Partials/_navbar //relative path %>
    <div class="container">
        
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <!-- <li>
                <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li> -->
            <% if(locals.result.length > 0){ %>
                <li><a href="#top" onclick="switchPage(1);">1</a></li>
            <% } %>
            <% if(locals.result.length > 10){ %>
                <li><a href="#top" onclick="switchPage(2);">2</a></li>
            <% } %>
            <% if(locals.result.length > 20){ %>
                <li><a href="#top" onclick="switchPage(3);">3</a></li>
            <% } %>
            <% if(locals.result.length > 30){ %>
                <li><a href="#top" onclick="switchPage(4);">4</a></li>
            <% } %>
            <% if(locals.result.length > 40){ %>
                <li><a href="#top" onclick="switchPage(5);">5</a></li>
            <% } %>
            <!-- <li>
                <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li> -->
            </ul>
        </nav>

        <div id="list">  
            <% for(var i=0; i<10; ++i){ %>
                <div class="panel panel-default opaque">
                    <div class="panel-heading"><h3><%= locals.result[i].name %></h3></div>
                    <div class="panel-body row">
                        <div class="col-md-3" style="border-right: 1px solid black;">
                            <img src="<%= locals.result[i].image_url %>" class="rest-img">
                        </div>
                        <div class="col-md-5">
                            <div class="row" style="height: 125px;">
                                <div class="col-md-6">
                                    <a title="Click here to go to the restaurant's yelp page." target="_blank" rel="noopener noreferrer" href="<%= locals.result[i].url %>"> <img src="/content/images/yelp2.png" class="logo"> </a>
                                </div>
                                <div class="col-md-6">
                                        <p><label>Yelp's rating:&nbsp;</label> <%= locals.result[i].rating %> / 5</p>
                                        <p><label>Yelp's review count:&nbsp;</label> <%= locals.result[i].review_count %></p>
                                </div>
                                
                            </div>
                            <div class="row" style="height: 125px;">
                                <div class="col-md-6">
                                    <a title="Click here to go to the restaurant's profile page." href="#top" onclick="clickProfilePage('<%= locals.result[i].id %>', '<%= locals.result[i].alias %>');"> <img src="/content/images/temp.jpg" class="logo"> </a>
                                </div>
                                <div class="col-md-6">
                                        <p><label>ORWW's rating:&nbsp;</label> / 5</p>
                                        <p><label>ORWW's review count:&nbsp;</label></p>
                                </div>
                            </div>                     
                        </div>
                        <div class="col-md-4">
                            <div style="height: 250px;">
                                <div style="height: 230px;">
                                    <p><label>Location:&nbsp;</label><%= locals.result[i].location.display_address %></p>
                                    <p><label>Phone:&nbsp;</label><%= locals.result[i].display_phone %></p>
                                    <p><label>Price:&nbsp;</label><%= locals.result[i].price %></p>
                                </div>
                                <div style="float: right;">
                                    <a href="/Restaurant/Map?restaurant=<%= locals.result[i].alias %>&latitude=<%= locals.result[i].coordinates['latitude'] %>&longitude=<%= locals.result[i].coordinates['longitude'] %>" 
                                        data-toggle="modal" data-target="#myModal" data-backdrop="false">View Map</a>
                                    <!-- <input type="button" value="Get Direction" class="btn" data-toggle="modal" data-target="#myModal" > -->
                                </div>
                                <div class="clear"></div>
                            </div>                     
                        </div>
                        
                    </div>
                </div>
            <% } %>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <!-- <li>
                <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li> -->
            <% if(locals.result.length > 0){ %>
                <li><a href="#top" onclick="switchPage(1);">1</a></li>
            <% } %>
            <% if(locals.result.length > 10){ %>
                <li><a href="#top" onclick="switchPage(2);">2</a></li>
            <% } %>
            <% if(locals.result.length > 20){ %>
                <li><a href="#top" onclick="switchPage(3);">3</a></li>
            <% } %>
            <% if(locals.result.length > 30){ %>
                <li><a href="#top" onclick="switchPage(4);">4</a></li>
            <% } %>
            <% if(locals.result.length > 40){ %>
                <li><a href="#top" onclick="switchPage(5);">5</a></li>
            <% } %>
            <!-- <li>
                <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li> -->
            </ul>
        </nav>
        <div style="margin-right: 0; padding-right: 0;">
            <% include ../Partials/_footer //relative path %>
        </div>
    </div>

    <div hidden>
        <form id="frm_prof" action="/Restaurant/Search" method="POST">

        </form>
    </div>

    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    
    <script>    
        // when the modal is closed
        $('#myModal').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#myModal .modal-content').empty();
            $('body').attr("style", "padding-top: 60px; padding-right:0px;");           
        });
       
        function clickProfilePage(id, alias){
            // alert(id);
            // alert(alias);
            var form = document.getElementById('frm_prof');

            for(var i=0; i<form.childNodes.length; ++i){
                form.removeChild(form.childNodes[i]);
            }

            var input_id = document.createElement("INPUT");
            input_id.setAttribute("name", "id");
            input_id.setAttribute("type", "text");
            input_id.setAttribute("value", id);
            form.appendChild(input_id);
            
            var input_alias = document.createElement("INPUT");
            input_alias.setAttribute("name", "alias");
            input_alias.setAttribute("type", "text");
            input_alias.setAttribute("value", alias);
            form.appendChild(input_alias);
 
            form.submit();
        };

        function switchPage(pagenum){
            $('#list').html('');
            if(pagenum === 1){
                $('#list').html(

                    " <% if(locals.result.length < 10){ %> "+
                        " <% for(var i=0; i<locals.result.length; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " +

                    " <% } else { %> " +
                        " <% for(var i=0; i<10; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " + 
                    "<% } %>"
                   

                )             
            }
            else if(pagenum === 2){
                $('#list').html(

                    " <% if(locals.result.length < 20){ %> "+
                        " <% for(var i=10; i<locals.result.length; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " +

                    " <% } else { %> " +
                        " <% for(var i=10; i<20; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " + 
                    "<% } %>"

                )             
            }
            else if(pagenum === 3){
                $('#list').html(

                    " <% if(locals.result.length < 30){ %> "+
                        " <% for(var i=20; i<locals.result.length; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " +

                    " <% } else { %> " +
                        " <% for(var i=20; i<30; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " + 
                    "<% } %>"

                )             
            }
            else if(pagenum === 4){
                $('#list').html(

                    " <% if(locals.result.length < 40){ %> "+
                        " <% for(var i=30; i<locals.result.length; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " +

                    " <% } else { %> " +
                        " <% for(var i=30; i<40; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " + 
                    "<% } %>"

                )             
            }
            else if(pagenum === 5){
                $('#list').html(

                    " <% if(locals.result.length < 50){ %> "+
                        " <% for(var i=40; i<locals.result.length; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " +

                    " <% } else { %> " +
                        " <% for(var i=40; i<50; ++i){ %> " +
                        " <div class=\"panel panel-default opaque\"> " +
                        " <div class=\"panel-heading\"><h3><%= locals.result[i].name %></h3></div> " +
                        "     <div class=\"panel-body row\"> " +
                        "        <div class=\"col-md-3\" style=\"border-right: 1px solid black;\"> " +
                        "            <img src=\"<%= locals.result[i].image_url %>\" class=\"rest-img\"> " +
                        "        </div> " +
                        "        <div class=\"col-md-9\"> " +
                        "             <div style=\"height: 125px; border-bottom:  1px solid black; width: 100%;\"> " +
                        "                 test " +
                        "             </div> " +
                        "             <div style=\"height: 125px;\"> " +
                        "                 test " +
                        "             </div> " +                          
                        "         </div> " +                           
                        "     </div> " +
                        " </div>" +
                        " <% } %> " + 
                    "<% } %>"

                )             
            }
            
            
        };
     
    </script>


    
</body>

</html>